/* Style Guide Styles */
/* -- Variables -- */
/* -- General Styles -- */
body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

a {
  font-weight: 700;
  color: #1B3234 !important;
  transition: ease-in 0.3s;
}

a:hover {
  font-weight: 700;
  color: #264748 !important;
  text-decoration: none;
}

ul {
  list-style-type: none;
  line-height: 180%;
  padding-inline-start: 0px;
}

/* - Typography -*/
h1 {
  font-family: "bio-sans", sans-serif;
  font-size: 38px;
  color: #E7E7E7;
  line-height: 45.7px;
}

h2 {
  font-family: "bio-sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-weight: 700;
  font-family: "bio-sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

h4 {
  font-family: "bio-sans", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 45.7px;
}

h5 {
  font-family: "bio-sans", sans-serif;
  font-size: 28px;
}

h6 {
  font-family: "bio-sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}

p {
  font-family: "bio-sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

li {
  font-family: "bio-sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container-fluid {
  padding: 0px;
}

/* -- Navigation -- */
.navbar {
  background: transparent;
}

.navbar-brand {
  height: 70px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  margin-left: -8px;
}

.navbar-toggler {
  z-index: 1000;
  border: 1px solid #f6f6f6;
}

.navbar-toggler-icon {
  content: "Menu";
}

.navbar-nav {
  max-height: 60px;
}

.nav-link {
  font-family: "bio-sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 0px;
  margin: 0 10px;
  padding: 10px 40px;
  border: 2px solid transparent;
}

.nav-item {
  margin-top: 15px;
}

.nav-item a {
  color: #f6f6f6 !important;
  font-family: "bio-sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  margin: 0 10px;
  padding: 10px 40px;
}

.naveffect {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

.naveffect:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #f6f6f6;
  transform: translateX(-100%);
}

.naveffect:hover:before {
  transform: translateX(0);
}

.naveffect {
  color: #E7E7E7;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

/* -- Buttons -- */
.main-button {
  font-family: "bio-sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  background: #4E9997;
  color: #f6f6f6 !important;
  padding: 20px 30px;
  transition: ease-in 0.3s;
  border-radius: 0px;
}

.main-button:hover {
  color: #f6f6f6 !important;
  background: #3D7978;
  transition: ease-in 0.3s;
  border-radius: 20px 0px;
  text-decoration: none;
}

.alt-button-1 {
  font-family: "bio-sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  background: #FF6700;
  color: #f6f6f6 !important;
  padding: 20px 30px;
  transition: ease-in 0.3s;
  border-radius: 0px;
}

.alt-button-1:hover {
  color: #f6f6f6 !important;
  background: #D95C07;
  transition: ease-in 0.3s;
  border-radius: 20px 0px;
  text-decoration: none;
}

.alt-button {
  font-family: "bio-sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f6f6f6 !important;
  padding: 15px 25px;
  transition: ease-in 0.3s;
  border-radius: 0px;
  border-bottom: 5px solid #FF6700;
}

.alt-button:hover {
  color: #f6f6f6 !important;
  font-weight: 400;
  transition: ease-in 0.3s;
  text-decoration: none;
}

/* --- Main Body ---- */
.banner {
  background: url(images/hunting.jpg);
  background-size: cover;
  min-height: 350px;
}

.interior-banner {
  background: url(images/hunting.jpg);
  background-size: cover;
  min-height: 350px;
  margin-top: -90px;
}

.banner h1 {
  color: #ffffff;
  line-height: 71.55px;
  text-align: center;
}

.interior-hero-text {
  margin-top: 130px;
  text-align: center;
}

/* -- Home -- */
.home-banner {
  background: url(images/hunting.jpg) no-repeat top;
  background-size: cover;
  border-radius: 40px 0px;
  border: 20px solid #ffffff;
  min-height: 75vh;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.home-banner h1 {
  color: #ffffff;
  line-height: 57px;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-copy {
  padding: 150px 30px;
}

.button-block {
  margin-top: 40px;
}

.button-block .first {
  margin-right: 10px;
}

.hero-logos {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  max-height: 100px;
  width: 280px;
  padding: 20px;
  border-radius: 30px 0;
  margin-bottom: 20px;
}

.home .larger {
  font-size: 55px;
  text-transform: uppercase;
}

/* Interior Page */
.interior-page {
  background: #ffffff;
}

.interior-page {
  color: #3D342B;
}

.interior-header .container {
  padding-left: 0px;
}

.interior-header {
  width: 100%;
  padding: 40px 0px;
  max-height: 625px;
  background: #817E72;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.interior-header h1 {
  color: #ffffff;
}
